<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--方式一：注册用户userMapper.xml文件
        注意：IDEA中不支持编译.xml文件所以只能放在resources文件夹-->
        <mapper resource="userMapper.xml"/>
        <!--方式二 ：注册用户userMapper映射接口-->
        <mapper class="xbp.mybatis.mapping.UserMapperI"/>
    </mappers>
</configuration>